body{
    background-color: #b8ffe0
}
#home{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calc-body{
    background-color: #b8d7ff;
    width: 350px;
    height: 500px;

    border-radius: 8px;

    box-shadow: 5px 5px 40px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.calc-display{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;

    border-radius: 8px;
    border: 1px whitesmoke;
    border-style: ridge;

    margin: 30px 25px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

#top{
    width: 270px;
    height: 50px;

    margin: auto;

    border-bottom: 1px solid #393e464f;

    padding-top: 10px;

    font-size: 14px;
}
#bottom{
    width: 270px;
    height: 50px;

    padding-top: 10px;

    margin: auto;

    font-size: 30px;
}

.buttons{
    width: 300px;
    height: 310px;
    margin: auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(10px, 80px));
    grid-template-rows: repeat(4, minmax(30px, 80px));
    grid-template-areas:
        "num7 num8 num9 opDi del"
        "num4 num5 num6 opMu opSq"
        "num1 num2 num3 opMi opEq"
        "opDot num0  opPlMi opPl opEq"
    ;
}
.button#num0 { grid-area: num0; }
.button#num1 { grid-area: num1; }
.button#num2 { grid-area: num2; }
.button#num3 { grid-area: num3; }
.button#num4 { grid-area: num4; }
.button#num5 { grid-area: num5; }
.button#num6 { grid-area: num6; }
.button#num7 { grid-area: num7; }
.button#num8 { grid-area: num8; }
.button#num9 { grid-area: num9; }
.operator#del { grid-area: del; background-color: rgb(170, 170, 170); color: white;}
.operator#div { grid-area: opDi; }
.operator#mult { grid-area: opMu; }
.operator#minus { grid-area: opMi; }
.operator#plus { grid-area: opPl; }
.operator#Dot { grid-area: opDot; }
.operator#plusMinus { grid-area: opPlMi; }
.operator#root { grid-area: opSq; }
.operator#equal { grid-area: opEq; color:}

button{

    border-radius: 5px;
    border-style: none;

    background-color: rgb(66, 66, 62);
    color: white;

    font-weight: bold;
    font-size: 24px;
}
.button{

}
.operator{
    background-color: #ff7a7a;

}